@import '../palette.scss';

.input {
    display: flex;
    height: 100%;

    &__label {
        margin-right: $padding;
        margin-left: 2px;
    }

    &__input {
        flex: auto;
        padding: 0 2px;
    }
}