@import "../palette.scss";

.input-checkbox {
    display: flex;
    
    &__input {
        padding: 1px 4px;
    }

    &__label {
        padding-top: 2px;
        margin-right: auto;
        margin-left: 0.4rem;
        padding-right: 0.4rem;
    }

    &__icon--visibility-none {
        visibility: hidden;
    }
}