@import '../palette.scss';

.input-text {
    display: flex;

    &__label {
        margin-right: $padding;
    }

    &__input {
        flex: auto;
        margin: 0 0 2px 2px;
        padding: 0 2px;

        &--multiline {
            resize: none;
        }
    }
}