@import '../palette.scss';

.input {
    display: flex;

    &__label {
        margin-right: $padding;
        margin-left: 2px;
    }

    &__input {
        flex: auto;
        margin: 0 0 2px 0;
        padding: 0 2px;
    }
}