@import '../palette.scss';

.modal-content {
    border-top: $border;
    border-bottom: $border;
    padding-top: $padding;
    padding-bottom: $padding;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30rem;
}