@import '../palette.scss';

.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: $padding;

    &__close,
    &__accept {
        color: $text-color;
        border: 2px solid $border-color;
        background-color: inherit;
    }
}