@import '../palette.scss';

.user-characters {
    padding-top: 5rem;

    &__loader {
        display: flex;
        background-color: $tertiary-color;
        padding: $padding;
        margin: 0.4rem;
    }

    &__loader-spinner {
        margin-left: auto;
        margin-right: auto;
    }

    &__item-add {
        margin: auto;
    }

    &__bottom-spacer {
        min-height: 1rem;
    }
}