@import '../../palette.scss';

.title-with-edit-button {
    &__title-bar {
        display: flex;
        margin: 0 1rem;
    }

    &__title {
        margin-left: auto;
    }

    &__edit-button {
        margin: 1rem 0;
        margin-left: auto;
    }
}