@import '../palette.scss';

.general-information {
    background-color: $tertiary-color;
    float: left;
    flex-basis: 20rem;
    min-width: 20rem;

    .general-information-group {
        background-color: $secondary-color;
        padding: 0.4rem;
        margin: 0.4rem;
    }
}

.character-panel {
    padding-top: 5rem;
    display: flex;
    background-color: $quaternary-color;

    &__loader {
        padding-top: 5rem;
        margin-left: auto;
        margin-right: auto;
    }
}