@import '../palette.scss';

.classes-panel {
    background-color: $quaternary-color;
    height: 100%;
    flex: auto;

    &__tablinks {
        width: 33.33%;
        height: 3rem;
        background-color: $tertiary-color;
        border: none;
        font-size: 1rem;
        margin: 0;
        vertical-align: top;
    }

    &__tablinks:hover {
        background-color: $interactable-hover-color;
    }
}