@import '../palette.scss';

.class {
    &__edit-button {
        padding: 1px 3px;
    }

    &__delete-button {
        padding: 1px 5px;
    }
}

.class-container {
    background-color: $tertiary-color;
    margin: 0.4rem;

    .class-name-container {
        padding: 1rem;
        display: flex;
    
        .class-name {
            margin: 0;
            flex: auto;
        }
    
        .expand {
            height: 1.5rem;
        }
    }
}