@import './palette.scss';

.app {
    background-color: $quaternary-color;
    text-align: center;
    min-height: 100%;

    &__navbar {
        display: flex;
        position: fixed;
        height: 5rem;
        width: 100%;
        background-color: $secondary-color;
    }

    &__link {
        font-size: 1.5rem;
        padding: 1.5rem;
        text-decoration: none;

        &:hover {
            background-color: $primary-color;
        }
    }
}