@import 'palette.scss';

.navbar {
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: $secondary-color;
}

.general-information {
    margin-top: 5rem;
    position: fixed;
    background-color: $tertiary-color;
    height: 100%;
    width: 20rem;
}

.border-container {
    margin: 0.4rem;
    border: 1px solid white;
}