$primary-color: #050505;
$secondary-color: #171917;
$tertiary-color: #1e1e1e;
$quaternary-color: #383838;
$quinary-color: #6a6767;
$text-color: white;

$font-family:  Verdana, Arial, Tahoma, sans-serif;

* {
    font-family: $font-family;
}