@import './palette.scss';

.skill {
    background-color: $tertiary-color;
    margin: 0.4rem;
    padding: 0.4rem;

    .skill-categories-container {
        display: flex;
    }

    .skill-category {
        padding: 0.4rem;
        margin-right: 0;
        margin-left: 0.4rem;
        background-color: $secondary-color;

        &:first-child {
            margin-left: 0;
        }
    }
}

.tier-description {
    text-align: left;
    margin-block-end: 0;
    white-space: pre-line
}


.skill-top-row {
    display: flex;

    .skill-expand {
        height: 1.5rem;
    }

    .skill-name {
        flex: 1;
    }

    .skill-tier {
        flex-basis: 5rem;
    }

    .skill-level, .skill-tier {
        text-align: right;
    }

    .skill-name {
        padding-left: 1rem;
        text-align: left;
    }
}