@import 'palette.scss';

.statpoint-property {
    display: flex;
    padding: 1rem;

    .property-name {
        flex: 6;
        text-align: left;
    }

    .property-value {
        flex: 3;
        text-align: right;
        padding-right: 1rem;
    }

    .property-increase,
    .property-decrease {
        flex: 1;
    }
}